@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';

:root {
  --main-bg-clr: hsl(0, 0%, 96%);
}

body {
  font-family: 'Outfit', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


/* Utils */
.height-screen {
  height: 100vh;
  height: 100dvh;
}